---
import Layout from "../layouts/Layout.astro";
import IconRocket from "../components/Icons/IconRocket.svelte";
import IconPricing from "../components/Icons/IconPricing.svelte";
import IconCheckCircleSolid from "../components/Icons/IconCheckCircleSolid.svelte";
---

<Layout
  title="Coolify Cloud"
  canonicalUrl="https://coolify.io/cloud/"
  description="Coolify Cloud offers managed hosting with high availability, free emails, and priority support. Same price, more benefits."
>
  <h1
    class="text-3xl font-bold tracking-tight text-white md:text-6xl px-4"
  >
    Why use Coolify Cloud<span class="text-warning">?</span>
  </h1>
  <h2 class="text-base pb-10 pt-2 text-neutral-400 px-4">
    Self-hosting and Cloud... What?
  </h2>
  <div class="pb-2 flex justify-center text-center gap-8 px-4">
    <a
      href="https://app.coolify.io/register"
      class="text-base font-bold rounded p-4 px-10 text-white bg-coolgray-300 hover:bg-coolgray-400 flex gap-2 w-64 justify-center"
      ><IconRocket class="icon" />Get Started</a
    >
    <a
      href="/pricing"
      class="text-base font-bold rounded p-4 px-10 text-white bg-coolgray-300 hover:bg-coolgray-400 flex gap-2 w-64 justify-center"
      ><IconPricing class="icon" />Pricing</a
    >
  </div>
  <div class="mt-10 max-w-2xl mx-auto px-2">
    <ul role="list" class="mt-8 space-y-8 text-neutral-400  text-left">
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning"
            >Same Price, More Benefits.</strong
          > Self-hosting requires one server for Coolify and at least one more for your deployments, as recommended. Each server costs around $5 per month. With Cloud hosting, you can get Coolify for the same price, but with additional benefits.
        </span>
      </li>
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning">Highly Available.</strong>
          The Cloud instance is designed to be highly available and always prepared to handle your requests, eliminating the need for you to manage it.</span
        >
      </li>
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning">Free Emails.</strong> Email notifications are included in the cost and there is no requirement to pay for a third-party provider.</span
        >
      </li>
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning">Less Maintenance.</strong> You are not required to manage your Coolify instance. We handle it for you.</span
        >
      </li>
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning">Priority Support.</strong>
          We are available to assist you whenever you require support via Email or Chat.</span
        >
      </li>
      <li class="flex gap-x-3">
        <IconCheckCircleSolid
          class="mt-0 h-6 w-6 flex-none text-warning"
        />
        <span
          ><strong class="font-semibold text-warning">Brag About It.</strong> 
          You can impress anyone by saying that you self-host in the Cloud. They will definitely be amazed.
        </span>
      </li>
    </ul>
  </div>
</Layout>
