---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Index/Header.svelte";
import Features from "../components/Index/Features.svelte";

---

<Layout title="Coolify">
    <Header client:load/>
    <Features/>
    <div class="pt-20 text-xs">
    <span class="text-warning">*</span> Some features are work in progress and will be available soon.
  </div>
  <!-- <div class="flex justify-center px-10">
    <div
      class="tracking-tight text-white font-mono bg-black px-4 py-2 rounded text-xs md:text-sm text-left"
    >
     curl -fsSL https://cdn.coollabs.io/coolify/install.sh | bash
    </div>
  </div> -->
</Layout>