---
import Layout from "../layouts/Layout.astro";
import Plans from "../components/Pricing/Plans.svelte";
---

<Layout title="Pricing | Coolify">
  <h1 class="text-3xl font-bold tracking-tight text-white md:text-6xl px-4">
    Pricing<span class="text-warning">.</span>
  </h1>
  <h2 class="text-base pb-10 pt-2 text-neutral-400 px-4">
    Pricing that adjusts according to your needs.
  </h2>
  <Plans client:load />
</Layout>
