---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coolify Cloud">
  <h1
    class="text-3xl font-bold tracking-tight text-white md:text-6xl pt-24 px-4"
  >
    Why should you self-host<span class="text-warning">?</span>
  </h1>
  <h2 class="text-base pb-10 pt-2 text-neutral-400 px-4">You will be cool.</h2>
  <div class="pb-2 flex justify-center text-center gap-8 px-4">
    <a
      href="https://github.com/coollabsio/coolify?tab=readme-ov-file#about-the-project"
      class="text-base font-bold rounded p-4 px-10 text-white bg-coolgray-300 hover:bg-coolgray-400 flex gap-2 w-64 justify-center"
      ><svg class="icon" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="m6.854 3.854l.8-.8c.644-.645 1.775-1.092 2.898-1.253a5.342 5.342 0 0 1 1.504-.02c.443.066.714.196.84.323c.127.126.257.397.323.84c.064.427.059.95-.02 1.504c-.16 1.123-.608 2.254-1.253 2.898L7.5 11.793l-1.146-1.146a.5.5 0 1 0-.708.707l1.5 1.5a.5.5 0 0 0 .708 0l.547-.548l1.17 1.951a.5.5 0 0 0 .783.097l2-2a.5.5 0 0 0 .141-.425l-.465-3.252l.624-.623c.855-.856 1.358-2.225 1.535-3.465c.09-.627.1-1.25.019-1.794c-.08-.528-.256-1.05-.604-1.399c-.349-.348-.871-.525-1.4-.604a6.333 6.333 0 0 0-1.793.02C9.17.987 7.8 1.49 6.946 2.345l-.623.624l-3.252-.465a.5.5 0 0 0-.425.141l-2 2a.5.5 0 0 0 .097.783l1.95 1.17l-.547.547a.5.5 0 0 0 0 .708l1.5 1.5a.5.5 0 1 0 .708-.708L3.207 7.5l.647-.646zm3.245 9.34l-.97-1.617l2.017-2.016l.324 2.262zM3.423 5.87l2.016-2.016l-2.262-.324l-1.37 1.37zm-1.07 4.484a.5.5 0 1 0-.707-.708l-1 1a.5.5 0 1 0 .708.707zm1.5 1.5a.5.5 0 1 0-.707-.707l-2 2a.5.5 0 0 0 .708.707zm1.5 1.5a.5.5 0 1 0-.707-.708l-1 1a.5.5 0 1 0 .708.707zM9.5 6.749a1.249 1.249 0 1 0 0-2.498a1.249 1.249 0 0 0 0 2.498"
          clip-rule="evenodd"></path>
      </svg>Get Started</a
    >
  </div>
  <div class="space-y-2 pt-10">
    <div
      class="tracking-tight text-white font-mono bg-coolgray-300 px-4 py-2 rounded text-xs md:text-sm text-left w-fit space-y-1 mx-auto"
    >
      <div class="select-none text-neutral-400 fontfont-bold pr-2 pb-4">
        # The self-hosted version is ready on your server in under a minute - <span
          class="text-warning/90">always free, with all functionalities</span
        >.
      </div>
      <div>
        <span class="select-none text-neutral-500 font-extrabold pr-2">></span
        >curl -fsSL https://cdn.coollabs.io/coolify/install.sh | bash
      </div>
    </div>
  </div>
  <h3
    class="text-xl font-bold tracking-tight text-white md:text-3xl pt-10 px-4"
  >
    Self-hosting in general<span class="text-warning">.</span>
  </h3>
  <h4 class="text-base pb-10 pt-2 text-neutral-400 px-4">
    There are plenty of benefits.
  </h4>
  <div class="mt-10 max-w-2xl mx-auto px-2">
    <ul role="list" class="mt-8 space-y-8 text-neutral-400 text-left">
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">No Hidden Costs.</strong> Cloud
          providers can become costly once you surpass the free tier. Once you go
          beyond the free tier, expenses can accumulate rapidly. There are plenty
          of <a
            class="underline text-white"
            href="https://serverlesshorrors.com/?utm_source=coolify.io"
            target="_blank">horror stories</a
          >.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">Cost Efficient.</strong> You
          get way more resources for your money and you can save a lot (thousands
          of $) every month, like <a
            class="underline text-white"
            href="https://twitter.com/heyandras/status/1742078215986860460"
            target="_blank">this</a
          > and <a
            class="underline text-white"
            href="https://twitter.com/heyandras/status/1752209429276086688"
            target="_blank">this</a
          > and <a
            class="underline text-white"
            href="https://twitter.com/heyandras/status/1724510876256944244"
            target="_blank">this</a
          >.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning"
            >Easier Than You Think.</strong
          > Servers (hardware + software) have changed a lot since cloud providers
          emerged. And with software (like <a
            href="/"
            class="text-white underline">Coolify</a
          >), you can start hosting in minutes without any maintanence work.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">Data Privacy.</strong> Currently,
          data privacy is a major issue. By self-hosting, you have complete control
          over your data and can guarantee that it is not being misused.
        </span>
      </li>
    </ul>
  </div>
  <h3
    class="text-xl font-bold tracking-tight text-white md:text-3xl pt-10 px-4"
  >
    Self-hosting with Coolify<span class="text-warning">.</span>
  </h3>
  <h4 class="text-base pb-10 pt-2 text-neutral-400 px-4">
    Even more benefits.
  </h4>
  <div class="mt-10 max-w-2xl mx-auto px-2">
    <ul role="list" class="mt-8 space-y-8 text-neutral-400 text-left">
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning"
            >No Features Behind Paywall.</strong
          > Everything is included in the open-source software (OSS) version. And
          will always be.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">No Limitations.</strong> You
          have the freedom to host an unlimited number of websites on any quantity
          of servers without any restrictions.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">Nice UI.</strong> You get a
          simple and easy to use UI to manage your servers and applications.
        </span>
      </li>
      <li class="flex gap-x-3">
        <svg
          class="mt-0 h-6 w-6 flex-none text-warning"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
            clip-rule="evenodd"></path>
        </svg>
        <span
          ><strong class="font-semibold text-warning">Open Source.</strong> You can
          see the source code and contribute to it, if you want. You can shape the
          future of the software.
        </span>
      </li>
    </ul>
  </div>
</Layout>
