---
import Instances from "../components/Instances.svelte";
---

<h1 class="text-3xl font-bold tracking-tight text-white md:text-6xl px-4">
  Self-hosting with superpowers<span class="text-warning">.</span>
</h1>
<h2 class="text-base pt-4 text-neutral-400 px-4 max-w-4xl mx-auto">
  An open-source & self-hostable alternative to Vercel, Heroku, Netlify and
  Railway for easily deploying websites, databases, web applications and 280+
  one-click services to your own server.
</h2>
<div class="pb-10 pt-4 text-xs flex gap-2 justify-center flex-row flex-wrap">
  <a
    class="hover:underline cursor-pointer text-white flex gap-2 items-center justify-center text-xs"
    href="#features"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-4 w-4 text-warning"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
      ></path><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path><path
        d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
    >
    Features</a
  >
  <a
    class="hover:underline cursor-pointer text-white flex gap-2 items-center justify-center"
    target="_blank"
    href="https://coolify.io/docs/get-started/screenshots"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-5 h-5 text-warning"
      viewBox="0 0 256 256"
    >
      <g fill="currentColor">
        <path
          d="M208 64h-32l-16-24H96L80 64H48a16 16 0 0 0-16 16v112a16 16 0 0 0 16 16h160a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16Zm-80 104a36 36 0 1 1 36-36a36 36 0 0 1-36 36Z"
          opacity=".2"></path>
        <path
          d="M208 56h-27.72l-13.63-20.44A8 8 0 0 0 160 32H96a8 8 0 0 0-6.65 3.56L75.71 56H48a24 24 0 0 0-24 24v112a24 24 0 0 0 24 24h160a24 24 0 0 0 24-24V80a24 24 0 0 0-24-24Zm8 136a8 8 0 0 1-8 8H48a8 8 0 0 1-8-8V80a8 8 0 0 1 8-8h32a8 8 0 0 0 6.66-3.56L100.28 48h55.43l13.63 20.44A8 8 0 0 0 176 72h32a8 8 0 0 1 8 8ZM128 88a44 44 0 1 0 44 44a44.05 44.05 0 0 0-44-44Zm0 72a28 28 0 1 1 28-28a28 28 0 0 1-28 28Z"
        ></path>
      </g>
    </svg>Screenshots</a
  >
  <a
    class="hover:underline cursor-pointer text-white flex gap-2 items-center justify-center"
    target="_blank"
    href="https://coolify.io/docs/get-started/videos"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="w-5 h-5 text-warning"
      viewBox="0 0 256 256"
      ><path
        d="M200,72V184a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V72a8,8,0,0,1,8-8H192A8,8,0,0,1,200,72Z"
        opacity="0.2"></path><path
        d="M251.77,73a8,8,0,0,0-8.21.39L208,97.05V72a16,16,0,0,0-16-16H32A16,16,0,0,0,16,72V184a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V159l35.56,23.71A8,8,0,0,0,248,184a8,8,0,0,0,8-8V80A8,8,0,0,0,251.77,73ZM192,184H32V72H192V184Zm48-22.95-32-21.33V116.28L240,95Z"
      ></path></svg
    >
    Videos</a
  >
  <a
    class="hover:underline cursor-pointer text-white flex gap-2 items-center justify-center text-xs"
    target="_blank"
    href="https://twitch.tv/heyandras"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4 text-purple-500"
      width="200"
      height="200"
      viewBox="0 0 24 24"
      ><path
        fill="currentColor"
        d="M11.571 4.714h1.715v5.143H11.57zm4.715 0H18v5.143h-1.714zM6 0L1.714 4.286v15.428h5.143V24l4.286-4.286h3.428L22.286 12V0zm14.571 11.143l-3.428 3.428h-3.429l-3 3v-3H6.857V1.714h13.714Z"
      ></path></svg
    >

    Building in live-streams</a
  >
</div>
<div class="pb-2 flex justify-center text-center gap-8 px-4">
  <div>
    <a
      href="/cloud"
      class="text-xs sm:text-base font-bold rounded p-4 px-2 text-white bg-coolgray-300 hover:bg-coolgray-400 flex gap-2 lg:w-64 justify-center"
      ><svg
        class="icon hidden sm:block"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6.657 18C4.085 18 2 15.993 2 13.517c0-2.475 2.085-4.482 4.657-4.482c.393-1.762 1.794-3.2 3.675-3.773c1.88-.572 3.956-.193 5.444 1c1.488 1.19 2.162 3.007 1.77 4.769h.99c1.913 0 3.464 1.56 3.464 3.486c0 1.927-1.551 3.487-3.465 3.487H6.657"
        ></path>
      </svg>Cloud</a
    >
    <div
      class="text-neutral-400 sm:text-base text-xs sm:flex-row flex flex-col gap-1 pt-2 sm:justify-center"
    >
      <span class="text-warning mt-[0.1rem] font-bold font-mono"
        ><span id="cloud-users">2,714</span>+</span
      > customers in the cloud.
    </div>
  </div>
  <div>
    <a
      href="/self-hosted"
      class="text-xs sm:text-base font-bold rounded p-4 px-2 text-white bg-coolgray-300 hover:bg-coolgray-400 flex gap-2 lg:w-64 justify-center"
      ><svg
        class="icon hidden sm:block"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <path d="M9.5 11h.01m4.99 0h.01M9.5 15a3.5 3.5 0 0 0 5 0"></path>
          <path
            d="M7 5h1V3h8v2h1a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3v1H7v-1a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3"
          ></path>
        </g>
      </svg>Self-hosted</a
    >
    <Instances client:load />
  </div>
</div>
