---
import Footer from "../components/Footer.svelte";
import Navbar from "../components/Navbar.svelte";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/coolify-transparent.png" />
    <meta
      name="Description"
      content="Coolify: An open-source & self-hostable Heroku / Netlify / Vercel alternative"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@coolifyio" />
    <meta name="twitter:title" content="Coolify" />
    <meta
      name="twitter:description"
      content="An open-source & self-hostable Heroku / Netlify / Vercel alternative."
    />
    <meta
      name="twitter:image"
      content="https://cdn.coollabs.io/assets/coolify/og-image-v4.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coolify.io" />
    <meta property="og:title" content="Coolify" />
    <meta
      property="og:description"
      content="An open-source & self-hostable Heroku / Netlify / Vercel alternative."
    />
    <meta property="og:site_name" content="Coolify" />
    <meta
      property="og:image"
      content="https://cdn.coollabs.io/assets/coolify/og-image-v4.png"
    />
    <title>{title}</title>
    <link rel="dns-prefetch" href="https://cdn.coollabs.io/" />
    <link rel="preconnect" href="https://cdn.coollabs.io/" crossorigin="" />
    <link
      href="https://api.fonts.coollabs.io/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="me" href="https://fosstodon.org/@andrasbacsai" />
  </head>
  <body>
    <main>
      <Navbar client:load />
      <div class="max-w-7xl mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <style is:global>
      html {
        font-family: "Inter", sans-serif;
      }
      body {
        @apply min-h-screen bg-coolblack text-white;
      }
      main {
        @apply mx-auto xl:px-10 px-4;
        min-height: calc(100vh - 120px);
      }
      .button {
        @apply bg-coolgray-300 hover:bg-coolgray-400 text-white px-4 py-2 text-base font-semibold leading-6 rounded;
      }
      .navbar {
        @apply px-0 gap-4;
      }
      .navbar-link {
        @apply text-white text-xs md:text-base hover:bg-coolgray-200 p-2 rounded;
      }
      .icon {
        @apply w-6 h-6;
      }
    </style>
    <script
      async
      defer
      data-domain="coolify.io"
      src="https://analytics.coollabs.io/js/plausible.js"
    ></script>
  </body>
</html>
