---
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/android-launchericon-48-48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="72x72"
      href="/android-launchericon-72-72.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/android-launchericon-96-96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="144x144"
      href="/android-launchericon-144-144.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-launchericon-192-192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/android-launchericon-512-512.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="Description"
      content="Coolify: An open-source & self-hostable Heroku / Netlify / Vercel alternative"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@coolifyio" />
    <meta name="twitter:title" content="Coolify" />
    <meta
      name="twitter:description"
      content="An open-source & self-hostable Heroku / Netlify / Vercel alternative."
    />
    <meta
      name="twitter:image"
      content="https://cdn.coollabs.io/assets/coolify/og-image.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coolify.io" />
    <meta property="og:title" content="Coolify" />
    <meta
      property="og:description"
      content="An open-source & self-hostable Heroku / Netlify / Vercel alternative."
    />
    <meta property="og:site_name" content="Coolify" />
    <meta
      property="og:image"
      content="https://cdn.coollabs.io/assets/coolify/og-image.png"
    />
    <title>{title}</title>
    <link rel="me" href="https://fosstodon.org/@andrasbacsai" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <main class="max-w-5xl mx-auto">
      <nav class="navbar gap-0 lg:gap-2 relative px-4">
        <a href="/">
          <span class="text-2xl block text-white font-bold">Coolify</span>
        </a>
        <div class="flex-1"></div>
        <button id="mobile-menu-button" class="md:hidden text-white p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
        <div
          id="mobile-menu"
          class="hidden md:flex flex-col md:flex-row absolute md:relative top-full right-0 bg-coolgray-300 md:bg-transparent w-48 md:w-auto mt-2 md:mt-0 rounded md:rounded-none p-2 md:p-0 z-50 mr-4"
        >
          <a class="navbar-link relative gap-4" href="/pricing">
            <svg
              class="size-6 text-warning"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              >
                <path d="M15 11v.01M5.173 8.378a3 3 0 1 1 4.656-1.377"></path>
                <path
                  d="M16 4v3.803A6.019 6.019 0 0 1 18.658 11h1.341a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-1.342c-.336.95-.907 1.8-1.658 2.473V19.5a1.5 1.5 0 0 1-3 0v-.583a6.04 6.04 0 0 1-1 .083h-4a6.04 6.04 0 0 1-1-.083v.583a1.5 1.5 0 0 1-3 0v-2.027A6 6 0 0 1 8.999 7h2.5z"
                ></path>
              </g>
            </svg>
            Pricing</a
          >
          <a class="navbar-link relative gap-4" href="https://coolify.io/docs/"
            ><svg
              class="size-6 text-warning"
              viewBox="0 0 256 256"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="currentColor">
                <path
                  d="M208 32v160H72a24 24 0 0 0-24 24V56a24 24 0 0 1 24-24Z"
                  opacity=".2"></path>
                <path
                  d="M208 24H72a32 32 0 0 0-32 32v168a8 8 0 0 0 8 8h144a8 8 0 0 0 0-16H56a16 16 0 0 1 16-16h136a8 8 0 0 0 8-8V32a8 8 0 0 0-8-8m-8 160H72a31.82 31.82 0 0 0-16 4.29V56a16 16 0 0 1 16-16h128Z"
                ></path>
              </g>
            </svg>Docs
          </a>
          <a
            class="navbar-link relative gap-2"
            href="https://shop.coollabs.io?utm_source=coolify"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-6 text-warning mt-[2px]"
              fill="currentColor"
              viewBox="0 0 256 256"
              ><path
                d="M224,96v16a32,32,0,0,1-64,0V96H96v16a32,32,0,0,1-64,0V96L46.34,45.8A8,8,0,0,1,54,40H202a8,8,0,0,1,7.69,5.8Z"
                opacity="0.2"></path><path
                d="M231.69,93.81,217.35,43.6A16.07,16.07,0,0,0,202,32H54A16.07,16.07,0,0,0,38.65,43.6L24.31,93.81A7.94,7.94,0,0,0,24,96v16a40,40,0,0,0,16,32v72a8,8,0,0,0,8,8H208a8,8,0,0,0,8-8V144a40,40,0,0,0,16-32V96A7.94,7.94,0,0,0,231.69,93.81ZM54,48H202l11.42,40H42.61Zm98,56v8a24,24,0,0,1-48,0v-8ZM51.06,132.2A24,24,0,0,1,40,112v-8H88v8a24,24,0,0,1-35.12,21.26A7.88,7.88,0,0,0,51.06,132.2ZM200,208H56V151.2a40.57,40.57,0,0,0,8,.8,40,40,0,0,0,32-16,40,40,0,0,0,64,0,40,40,0,0,0,32,16,40.57,40.57,0,0,0,8-.8Zm16-96a24,24,0,0,1-11.07,20.2,8.08,8.08,0,0,0-1.8,1.05A24,24,0,0,1,168,112v-8h48Z"
              ></path></svg
            >
            Merch
          </a>

          <a class="navbar-link relative gap-4" href="/sponsorships">
            <svg
              class="size-6 text-warning"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="currentColor">
                <g opacity=".2">
                  <path
                    d="M13 14.444c3.038 0 5.5-.995 5.5-2.222C18.5 10.995 16.038 10 13 10l-5.5 2.222c0 1.228 2.462 2.222 5.5 2.222Z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M15.195 12.222a10.058 10.058 0 0 0-1.82-.216l-1.04.42c.215.012.437.018.665.018c.833 0 1.58-.087 2.195-.222Zm-6.164 1.539c-.554-.233-.983-.515-1.244-.828c-.186-.223-.287-.462-.287-.71L13 10c3.038 0 5.5.995 5.5 2.222c0 1.228-2.462 2.222-5.5 2.222c-1.56 0-2.968-.262-3.969-.683Z"
                    clip-rule="evenodd"></path>
                  <path
                    d="M13 18c3.038 0 5.5-.995 5.5-2.222V12h-11v3.778C7.5 17.005 9.962 18 13 18Z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M16.5 15.324a2.993 2.993 0 0 1-.36.17c-.704.285-1.813.506-3.14.506c-1.327 0-2.437-.221-3.14-.505a2.99 2.99 0 0 1-.36-.171V14h7v1.324Zm2-3.324v3.778C18.5 17.005 16.038 18 13 18s-5.5-.995-5.5-2.222V12h11Z"
                    clip-rule="evenodd"></path>
                  <path
                    d="M13.5 6.222c0 1.228-2.462 2.222-5.5 2.222S2.5 7.45 2.5 6.222C2.5 4.995 4.962 4 8 4s5.5.995 5.5 2.222Z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M10.195 6.222A10.354 10.354 0 0 0 8 6c-.833 0-1.58.087-2.195.222c.615.135 1.362.222 2.195.222c.833 0 1.58-.087 2.195-.222ZM8 8.444c3.038 0 5.5-.994 5.5-2.222C13.5 4.995 11.038 4 8 4s-5.5.995-5.5 2.222C2.5 7.45 4.962 8.444 8 8.444Z"
                    clip-rule="evenodd"></path>
                  <path
                    d="M8 12c3.038 0 5.5-.995 5.5-2.222V6.5h-11v3.278C2.5 11.005 4.962 12 8 12Z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M11.5 9.324a2.998 2.998 0 0 1-.36.17C10.436 9.78 9.327 10 8 10c-1.327 0-2.437-.221-3.14-.505a2.994 2.994 0 0 1-.36-.171V8.5h7v.824Zm2-2.824v3.278C13.5 11.005 11.038 12 8 12s-5.5-.995-5.5-2.222V6.5h11Z"
                    clip-rule="evenodd"></path>
                </g>
                <path
                  fill-rule="evenodd"
                  d="M15.702 10.114C14.78 9.742 13.47 9.5 12 9.5v-1c1.567 0 3.008.256 4.076.687c.533.216.998.484 1.337.809c.34.325.587.74.587 1.226c0 .487-.246.901-.587 1.227c-.34.324-.804.593-1.337.808c-1.068.432-2.51.687-4.076.687c-1.567 0-3.008-.255-4.076-.687c-.533-.215-.998-.484-1.337-.808c-.34-.326-.587-.74-.587-1.227h1c0 .127.062.297.278.504c.217.207.558.417 1.02.604c.923.373 2.231.614 3.702.614c1.47 0 2.78-.241 3.702-.614c.462-.187.803-.397 1.02-.604c.216-.207.278-.377.278-.504s-.062-.297-.278-.503c-.217-.208-.558-.418-1.02-.604Z"
                  clip-rule="evenodd"></path>
                <path
                  fill-rule="evenodd"
                  d="M6.5 11.167a.5.5 0 0 1 .5.5v3.11c0 .128.062.298.278.504c.217.208.558.418 1.02.605c.923.372 2.231.614 3.702.614c1.47 0 2.78-.242 3.702-.614c.462-.187.803-.397 1.02-.605c.216-.206.278-.376.278-.503v-3.111a.5.5 0 0 1 1 0v3.11c0 .488-.246.902-.587 1.227c-.34.325-.804.593-1.337.809c-1.068.431-2.51.687-4.076.687c-1.567 0-3.008-.256-4.076-.687c-.533-.215-.998-.484-1.337-.809c-.34-.325-.587-.74-.587-1.226v-3.111a.5.5 0 0 1 .5-.5Z"
                  clip-rule="evenodd"></path>
                <path
                  fill-rule="evenodd"
                  d="M8.7 16.726V13h1v3.726h-1Zm4.4-.226v-3h1v3h-1ZM2.278 4.719c-.216.206-.278.376-.278.503s.062.297.278.504c.217.207.558.417 1.02.604c.923.373 2.231.614 3.702.614c1.47 0 2.78-.241 3.702-.614c.462-.187.803-.397 1.02-.604c.216-.207.278-.377.278-.504s-.062-.297-.278-.503c-.217-.208-.558-.418-1.02-.605C9.779 3.742 8.47 3.5 7 3.5c-1.47 0-2.78.242-3.702.614c-.462.187-.803.397-1.02.605Zm.646-1.532C3.992 2.756 5.434 2.5 7 2.5c1.567 0 3.008.256 4.076.687c.533.216.998.484 1.337.809c.34.325.587.74.587 1.226c0 .487-.246.901-.587 1.227c-.34.324-.804.593-1.337.808c-1.068.432-2.51.687-4.076.687c-1.567 0-3.008-.255-4.076-.687c-.533-.215-.998-.484-1.337-.808C1.247 6.123 1 5.709 1 5.222c0-.486.246-.9.587-1.226c.34-.325.804-.593 1.337-.809Z"
                  clip-rule="evenodd"></path>
                <path
                  fill-rule="evenodd"
                  d="M1.5 5.167a.5.5 0 0 1 .5.5v3.11c0 .128.062.298.278.504c.217.208.558.418 1.02.605c.923.372 2.231.614 3.702.614c1.47 0 2.78-.242 3.702-.614c.462-.187.803-.397 1.02-.605c.216-.206.278-.376.278-.503V5.667a.5.5 0 0 1 1 0v3.11c0 .488-.246.902-.587 1.227c-.34.325-.804.594-1.337.809c-1.068.431-2.51.687-4.076.687c-1.567 0-3.008-.256-4.076-.687c-.533-.216-.998-.484-1.337-.809C1.247 9.68 1 9.264 1 8.778V5.667a.5.5 0 0 1 .5-.5Z"
                  clip-rule="evenodd"></path>
                <path
                  fill-rule="evenodd"
                  d="M3.7 10.5V7.113h1V10.5h-1Zm4.4 0v-3h1v3h-1Z"
                  clip-rule="evenodd"></path>
              </g>
            </svg>Sponsor Us</a
          >

          <a
            class="navbar-link relative gap-4"
            href="https://coolify.io/discord"
          >
            <svg
              class="size-6 text-indigo-500"
              viewBox="0 0 256 256"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g fill="currentColor">
                <path
                  d="m235.21 185.59l-67 29.7a8.15 8.15 0 0 1-11-4.56L147 183.06a190.5 190.5 0 0 1-19 .94a190.5 190.5 0 0 1-19-.94l-10.25 27.67a8.15 8.15 0 0 1-11 4.56l-67-29.7a8 8 0 0 1-4.55-9.24L45.77 60a8.08 8.08 0 0 1 6.54-6l36.06-5.92a8.1 8.1 0 0 1 9.21 6l5 19.63a192.32 192.32 0 0 1 50.88 0l5-19.63a8.1 8.1 0 0 1 9.21-6L203.69 54a8.08 8.08 0 0 1 6.54 6l29.53 116.37a8 8 0 0 1-4.55 9.22"
                  opacity=".2"></path>
                <path
                  d="M104 140a12 12 0 1 1-12-12a12 12 0 0 1 12 12m60-12a12 12 0 1 0 12 12a12 12 0 0 0-12-12m74.45 64.9l-67 29.71a16.17 16.17 0 0 1-21.71-9.1l-8.11-22q-6.72.45-13.63.46t-13.63-.46l-8.11 22a16.18 16.18 0 0 1-21.71 9.1l-67-29.71a15.94 15.94 0 0 1-9.06-18.51L38 58a16.08 16.08 0 0 1 13-11.87l36.06-5.92a16.21 16.21 0 0 1 18.26 11.88l3.26 12.83Q118.11 64 128 64t19.4.92l3.26-12.83a16.22 16.22 0 0 1 18.26-11.88L205 46.13A16.08 16.08 0 0 1 218 58l29.53 116.38a15.94 15.94 0 0 1-9.08 18.52M232 178.28L202.47 62h-.08l-36.06-6a.17.17 0 0 0-.17 0l-2.83 11.14c5 .94 10 2.06 14.83 3.42A8 8 0 0 1 176 86.31a8.09 8.09 0 0 1-2.16-.3A172.25 172.25 0 0 0 128 80a172.25 172.25 0 0 0-45.84 6a8 8 0 1 1-4.32-15.4c4.82-1.36 9.78-2.48 14.82-3.42L89.83 56a.21.21 0 0 0-.12 0l-36.1 5.92a.24.24 0 0 0-.09 0L24 178.33L91 208a.21.21 0 0 0 .22 0L98 189.72a173.2 173.2 0 0 1-20.14-4.32a8 8 0 0 1 4.3-15.4a171.85 171.85 0 0 0 45.84 6a171.85 171.85 0 0 0 45.84-6a8 8 0 0 1 4.32 15.41a173.2 173.2 0 0 1-20.16 4.31l6.75 18.28a.22.22 0 0 0 .21 0Z"
                ></path>
              </g>
            </svg>Community <span class="text-xs">(12k+)</span></a
          >
          <a
            class="p-2 px-4 rounded text-white relative border border-coollabs hover:bg-coollabs bg-coollabs/30 font-bold text-xs"
            href="https://app.coolify.io"
          >
            To Cloud</a
          >
        </div>
      </nav>
      <div class="text-center pt-12 md:pt-24">
        <slot />
      </div>
    </main>
    <style is:global>
      html {
        font-family: "Inter", sans-serif;
      }
      .navbar-link {
        @apply text-white text-xs md:text-base hover:bg-coolgray-200 p-2 px-4 rounded flex gap-2;
      }
      .icon {
        @apply w-6 h-6;
      }
      .button {
        @apply bg-coolgray-300 hover:bg-coolgray-400 text-white px-4 py-2 text-base font-semibold leading-6 rounded;
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 100;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 200;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-200.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-800.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 900;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.woff2")
          format("woff2");
      }

      @font-face {
        font-display: swap;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/inter-v13-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2")
          format("woff2");
      }

      @media (max-width: 768px) {
        .navbar-link {
          @apply flex gap-2 items-center w-full text-left mb-1;
        }
      }
    </style>

    <script
      defer
      data-domain="coolify.io"
      src="https://analytics.coollabs.io/js/script.outbound-links.js"></script>
    <Footer />

    <script>
      const mobileMenuButton = document.getElementById("mobile-menu-button");
      const mobileMenu = document.getElementById("mobile-menu");

      mobileMenuButton?.addEventListener("click", () => {
        mobileMenu?.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
