---
import BigSponsors from "./BigSponsors.svelte";
import SmallSponsors from "./SmallSponsors.svelte";
---

<!-- <div class="text-white pb-4 pt-6 text-base">
    Special sponsors<a
      target="_blank"
      href="https://github.com/sponsors/coollabsio/sponsorships?tier_id=334953&preview=false"
      class="text-warning border rounded-full px-1 ml-2 border-warning cursor-pointer hover:bg-warning hover:text-black font-bold text-xs"
      >?</a
    >
    <div class="text-xs text-neutral-400">
      Check out our sponsors' amazing products (click on them)! It helps us
      grow!
    </div>
  </div> -->
<div id="sponsors-section">
  <BigSponsors client:load />
  <SmallSponsors client:load />
</div>
